*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
a, 
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  box-sizing: border-box;
  font-style: normal;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
