header {
  display: grid;
  grid-template-columns: 1fr  min-content 1fr;
  align-items:center;
  max-height: 293px;
  font-family: Raleway, sans-serif;

  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  font-style: normal;
  padding: 92px 50px 96px;
}

.nav ul {
  display: flex;
  gap: 33px;
}
.menu_item{
  list-style: circle;
}

.menu_item:first-child {
  list-style: none;
}

.with_underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.logo_black {
  width: 148px;
  height: 105px;
  margin-left: 3px;
}

.contacts {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  width:100%;
  min-height: 89px;
  line-height: 24.3px;
  justify-self: end;
  align-items: flex-start;
  justify-content: space-between;
  font-style: normal;
}




.cover {
  position: relative;
  min-width:1100px;
  min-height: 757px;
  background-image: url("../images/lotus.jpg");  
  background-position: center;
}

.title {
  position: absolute;
  z-index: 3;
  height: 385px;
  width: 1000px;
}
.title-text {
  color: #fff;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
}
.text_left {
  padding-top: 165px;
  padding-left: 50px;
}
.text_center {
  margin-top: 20px ;
  padding-left: 380.5px;
}
.text_right {
  margin-top: 20px ;
  padding-left: 664px ;
}

.description {
  display: flex; /*новое для поправки*/
  justify-self:end;
  align-items:center;
  position: absolute;
  z-index: 3;
  margin-top: 656px ;
  margin-left: 50px;
}
.description_text {
  display: inline;
  color: white;
  margin-right: 98px;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.description_button {
  display: inline-block;
  margin-right: 50px; 
  /*margin-left: 67px;
  margin-bottom: 50px;*/
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index:2;
  background: rgba(0, 0, 0, 0.6);
}



.lots {
  margin-top: 180px;
  margin-left: 24px;
}

.lots_title {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}
.lots_card {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 25px;
}

.card {
  display: flex;
  flex-direction:column;
  list-style: none;
  position: relative;
  height: 596px;
  width: 334px;
}
.card a, .card article {
  height: 100%;
}
.card article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}
.card h2 {
  font-family: Raleway;
  position: static;
  z-index: 3;
  margin-top: 48px;
  color: #fff;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
}
.card p {
  font-family: Raleway;
  position: static;
  z-index: 3;
  color: #fff;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0;
  margin-top: auto;
  padding-bottom: 48px;

}

.about_film, .about_book, .about_art {
  background-size: cover;
  background-position: center;
}
.about_film {
  background-image: url("../images/card-lot-01.jpg");
}
.about_book {
  background-image: url("../images/card-lot-02.jpg");
}
.about_art {
  background-image: url("../images/card-lot-03.jpg");
}

.more {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
  border-bottom:  1px solid #000;
}



.about {
  margin-top: 121px;
  margin-left: 24px;
  margin-right: 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.logo_background {
  margin-top: 30px;
  display: grid;
  background-color: #000;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  justify-self: center;
}
.logo_white {
  height: 114px;
  width: 148px;
  justify-self: center;
  align-self: center;
}

.about_column {
  margin-top: 130px;
  margin-left: 25px;
  padding-right: 3px;
}
.about_column h2 {
  margin-top: 3px;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.description_block {
  margin-top: 101px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}




.footer {
  line-height: 24px;
  margin-top: 180px;
  display: flex;
  justify-content:space-between;
  padding: 0 50px 82px 50px;
}

.footer_contacts {
  max-width: 264px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_contacts a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_footer {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  /*padding-left: 5px;*/
}

.socials {
  display: flex;
  gap: 48px;
}
.social_img {
  width: 48px;
  height: 48px;
}


 5px;*/
}

.socials {
  display: flex;
  gap: 48px;
}
.social_img {
  width: 48px;
  height: 48px;
}


ial_img {
  width: 48px;
  height: 48px;
}


social_img {
  width: 48px;
  height: 48px;
}


social_img {
  width: 48px;
  height: 48px;
}


height: 48px;
}


